/* both pages */
body {
    background-color: #7B65CC;
    font-family: 'Quicksand', sans-serif;
}

.jumbotron {
    color: #500A66;
    background-color: #D6CBFF;
}

.btn {
    color: #500A66;
    border-color: #500A66;
    background-color: #D6CBFF;
}

.btn:hover {
    background-color: #500A66;
    border-color: #500A66;
    color: #D6CBFF;
}

.lead {
    font-size: 1.3rem;
}

.display-4 {
    font-family: 'Delius', cursive;
}

.ex-link {
    color: #D6CBFF;
    font-size: 1.2rem;
}

.ex-link:hover {
    color: #500A66;
    text-decoration: none;
}

.links {
    margin: 2rem 0;
}

a,
.form-group {
    color: #D6CBFF;
    font-size: 1.2rem;
}

a:hover {
    color: #500A66;
    text-decoration: none;
}

/* survey.html only */

.form-control {
    margin-bottom: 1.5rem;
    background-color: #E9DAFF;
}

form {
    width: 80%;
    margin: 1rem auto;
}

.results-image {
    width: 25rem;
}

.results-text,
.invalid-text {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.required-field {
    color: #FFD065;
    font-style: italic;
}